---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import { Image } from "astro:assets";
import imageRequirements from "../assets/requirements.png";
import twoImageRequirements from "../assets/requirementsTwo.png";
---

<Layout title="Requisitos - Perseo Ecommerce">
    <div class="flex min-h-screen bg-white">
        <Sidebar currentPage="requisitos" />
        <main class="flex-1 py-8 px-16 bg-gray-50 antialiased">
            <div class="mx-auto flex flex-col gap-6">
                <h1 class="text-3xl font-bold text-gray-900">Requisitos</h1>

                <!-- Proceso de Requisitos -->
                <div class="bg-white rounded-lg shadow-sm p-8">
                    <div class="space-y-8">
                        <div class="flex items-start space-x-4">
                            <div class="flex-1">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-3"
                                >
                                    Productos parametrizados
                                </h3>
                                <p class="text-gray-700 mb-4">
                                    Es decir debe tener los productos
                                    parametrizados con imágenes, categorías o
                                    líneas, precios y ficha técnica para una
                                    correcta visualización en el ecommerce.
                                </p>
                                <div class="p-4">
                                    <h4 class="font-semibold mb-2">
                                        Ejemplo de parametrización de producto:
                                    </h4>
                                    <Image
                                        src={imageRequirements}
                                        class="w-[700px] border-2 border-yellow-600 rounded-xl hover:scale-105 transition-transform duration-500   "
                                        alt="imagen de ejemplo de requerimientos."
                                    />
                                </div>
                                <div class="p-4">
                                    <h4 class="font-semibold mb-2">
                                        Ejemplo de parametrización de ficha
                                        técnica:
                                    </h4>
                                    <Image
                                        src={twoImageRequirements}
                                        class="w-[700px] border-2 border-yellow-600 rounded-xl hover:scale-105 transition-transform duration-500   "
                                        alt="segunda imagen de ejemplo de requerimientos."
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-x-6 gap-y-6">
                    <div class="col-span-1 bg-white rounded-lg shadow-sm p-8">
                        <h3 class="text-xl font-semibold text-gray-900 mb-3">
                            Imagenes
                        </h3>
                        <p class="text-gray-700 mb-4">
                            Los productos deben tener una configuración para las
                            imágenes, puede ser fondo blanco<span
                                class="font-bold"
                            >
                                o sin fondo
                            </span> , esto es discutido de acuerdo a la personalización
                            de la página. Y la <span class="font-bold">
                                resolución mínima
                            </span> permitida es
                            <span class="font-bold"> 800x600 </span>
                            en formato webp de preferencia
                        </p>
                    </div>
                    <div class="col-span-1 bg-white rounded-lg shadow-sm p-8">
                        <h3 class="text-xl font-semibold text-gray-900 mb-3">
                            Nombres de Producto
                        </h3>
                        <p class="text-gray-700 mb-4">
                            Los productos deben tener nombres cortos no tan
                            extensos, <span class="font-bold">
                                máximo 58 caracteres
                            </span> incluyendo espacios y signos de puntuación.
                        </p>
                    </div>
                    <div class="col-span-2 bg-white rounded-lg shadow-sm p-8">
                        <h3 class="text-xl font-semibold text-gray-900 mb-3">
                            Configuración de categorías
                        </h3>
                        <ul class="space-y-1">
                            <li class="text-gray-700">
                                • Deben ser nombres claros y precisos, además de
                                no ser tan extensos y de preferencia que tengan
                                <span class="font-bold"> 2 a 3 palabras</span>
                            </li>
                            <li class="text-gray-700">
                                • La imagen que represente la categoría debe ser
                                mínimo en <span class="font-bold">800x600</span>
                            </li>
                            <h3
                                class="font-semibold text-md text-gray-900 mb-3"
                            >
                                Adicionales:
                            </h3>
                            <li class="text-gray-700">
                                • Debe contar con un logo de empresa, esto es
                                necesario para desarrollar los recursos de la
                                página
                            </li>
                            <li class="text-gray-700">
                                • En caso de ser Perseo PC debe contar con IP
                                pública apuntada al servidor local, además de
                                tener el
                                <span class="font-bold"> API KEY </span>
                                previamente instalada por el técnico a cargo.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</Layout>

<!-- <style>
    /* Estilos del modal de zoom */
    .zoom-modal {
        visibility: hidden; /* Inicialmente oculto */
    }

    .zoom-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .zoom-image {
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .zoom-image:hover {
        transform: scale(1.05);
    }

    .zoomed-img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .zoom-modal-content {
        position: relative;
        background-color: white;
        padding: 1rem;
        border-radius: 8px;
    }
</style> -->
